<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div id="toast-element"  style="text-align: center" th:if="${regSuccess != null}" th:text="${regSuccess}" class="alert alert-success">

    </div>
        <div class="form">
            <div class="form-label" style="text-align: center">
                Welcome to Yevhenii Tomberg's "Software Testing" project
            </div>
            <div sec:authorize="isAuthenticated()" class="form-label" style="text-align: center" th:text="'You are logged in as ' + ${#authentication.getPrincipal().getFullName()}">

            </div>

            <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="form-control btn btn-primary mgt5px">Log in</a>
            <a sec:authorize="!isAuthenticated()" th:href="@{/register}" class="form-control btn btn-primary mgt5px">Register</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/account}" class="form-control btn btn-primary mgt5px">Profile</a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}" id="admin-panel" class="form-control btn btn-warning mgt5px">Admin panel</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="form-control btn btn-danger mgt5px">Log out</a>
        </div>
</div>
</body>
</html>